<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simmya.mapper.OrdersMapper" >
  
  	<resultMap type="com.simmya.vo.OrderV" id="one2many" autoMapping="true"> 
	 	<id property="id" column="id"/>
		<collection property="boxs" javaType="List" ofType="com.simmya.vo.BoxV" autoMapping="true">
			<id property="id" column="box_id"/>
		</collection>
	</resultMap>
	<select id="getOrderListByUserid" resultMap="one2many">
		SELECT a.ID id,DATE_FORMAT(a.CREATE_TIME,'%Y%m%d %H:%i:%s') createTime,d.ADDRESS_INFO address,
		a.STATUS status,
		COALESCE(a.TOTAL_PRICE,0.00) totalPrice,
		COALESCE(e.BALANCE,0.00) balancePrice,
		d.ZIPCODE zipcode,
		d.GET_NAME getName,
		d.PHONE phone,
		c.ID box_id,c.NAME name, c.TITLE title,c.DETAIL detail,
		COALESCE(c.BOX_PRICE,0.00) price,
		b.ORDER_WAY orderWay,
		CONCAT('${url}',CASE WHEN c.IMAGE_ADDRESS IS NOT NULL THEN REPLACE(c.IMAGE_ADDRESS,'\\','/') END) imageAddress,
		COALESCE(b.ORDER_COUNT,0) orderCount,
		COALESCE(b.SEND_COUNT,0) sendCount,
		b.status boxStatus,
		b.send_status sendStatus
		FROM orders a
		LEFT JOIN ORDER_BOX_REF b ON a.ID = b.ORDER_ID
		LEFT JOIN BOX c ON c.ID = b.BOX_ID
		LEFT JOIN ADDRESS d ON a.ADDRESS_ID = d.ID
		LEFT JOIN USER e on a.user_id = e.id
		WHERE a.USER_ID = #{userid}
		<if test="status != null ">
	         AND b.SEND_STATUS = #{status}
	    </if>
	</select>
	
	<select id="selectByStatusAndId" resultType="com.simmya.vo.OrderV">
		SELECT a.ID id,DATE_FORMAT(a.CREATE_TIME,'%Y-%m-%d %H:%i:%s') createTime,a.STATUS status,
		a.TOTAL_PRICE totalPrice,a.BALANCE_PRICE balancePrice,d.ADDRESS_INFO address,
		d.ZIPCODE zipcode,d.GET_NAME getName,d.PHONE phone
		FROM orders a
		LEFT JOIN ADDRESS d ON a.ADDRESS_ID = d.ID
		<where>
	        <if test="status != null ">
	            a.STATUS = #{status}
	        </if>
	        <if test="orderid != null ">
	         	AND a.id like '%${orderid}%'
	    </if>
	     </where>
	</select>
  
</mapper>